/* Contact Section */
#contact {
    padding: 4rem 0;
    background-color: #dad7d7;
}

.contact-info, .contact-form {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.contact-info h2, .contact-form h2 {
    margin-bottom: 2rem;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-form form {
    background-color: #777474;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}
